main {
    height: 100vh;
  }
  
  .container {
    /*display: grid;*/
    /*grid-template-columns: repeat(52);*/
    /*height: 100%;*/
    /*padding: 3rem 20rem;*/
  }
  
  /* .container_img {
    grid-column-start: 3;
    grid-column-end: 7;
    overflow: hidden;
  }
   */
  .container_img img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  
    transition: transform .2s linear;
  }
  
  .container_img img:hover {
    transform: scale(1.01);
  }
  