/* Header Styles */
.header {
  height: 80px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .2);
}

.header_container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
}

.logo img{
  /* align-self: center; */
  max-height: 60px;
  max-width: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--gris-oscuro);
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav_list, 
.nav_session {
  display: flex;
  list-style: none;
  gap: 0 2rem;
  font-size: 1.125rem;
}

.nav_session {
  gap: 0 1rem;
}

.nav_link {
  text-decoration: none;
  color: var(--gris-oscuro);
}

.nav_item a:hover {
  border-bottom: 1px solid var(--gris-oscuro);
  padding-bottom: .5rem;
  font-weight: 600;

}

.nav_session_btn {
  background-color: var(--gris-oscuro);
  color: var(--blanco);
  padding: .5em 1em;
  font-size: .99rem;
  border-radius: 9999px;
  text-decoration: none;

  border: 1px solid var(--gris-oscuro);

  transition: background-color .2s linear, color .2s linear ;
}

.nav_session_btn:hover {
  background-color:var(--blanco);
  color: var(--negro);

}

/* Contenido Principal */
main {
  height: calc(100vh - 80px);
}

.container {
  height: 100%;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 3rem 0;
}

.container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;

  max-width: 500px;

  grid-column-start: 1;
  grid-column-end: 7;
}

.container_info span {
  font-size: 1.2rem;
  color: var(--gris-oscuro);
}

.container_info h1 {
  font-size: 3rem;
  font-weight: 800;
}

.container_info p {
  font-size: 1.2rem;
  line-height: 2rem;

}

.container_info button {
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--gris-oscuro);
  border: 1px solid var(--gris-oscuro);
  color: var(--blanco);
  padding: 0.8em 1.3em;
  border-radius: 9999px;

  transition: background-color .2s linear, color .2s linear ;
}

.container_info button:hover {
  background-color:var(--blanco);
  color: var(--negro);
  cursor: pointer;
}

.container_img {
  grid-column-start: 7;
  grid-column-end: 13;

  overflow: hidden;
}

.container_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform .2s linear;
}

.container_img img:hover {
  transform: scale(1.01);
}
